streamlit
python-dotenv
groq
google-search-results
folium
streamlit-folium
geopy
ics
plotly
pandas
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-huggingface
faiss-cpu
sentence-transformers
streamlit-lottie
markdown-pdf
requests
lxml
supabase
